html { 
  background: url(/assets/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.centerFrame{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 350px;
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  text-align: center;
  color: white;
  font-family: 'Arial',sans-serif;
}
.facePicture{
  width: 275px;
  height: 275px;
  border-radius: 50%;
}
.centerFrame h1{
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 100;
  margin-top:  20px;
  margin-bottom: 0%;
}
.centerFrame h2{
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 0%;
}
.centerFrame p{
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 15px;
  margin-bottom: 15px;
}
ul{
  margin: 0; 
  padding: 0;
}
.centerFrame li{
  display: inline-block;
  margin: 10px;
}
.centerFrame li a{
  color: white;
  font-size: 60px;
  transition: all ease-in-out 200ms;
}
.centerFrame li a:hover{
  color: #0099ff;
}
